<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="./css/slave.css">
    <link rel="stylesheet" href="./css/order.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__logo"><img src="img/svg/logo.svg" alt="logo"></div>
            <div class="btn-catalog-container">
                <input class="btn-catalog" type="button" value="Каталог">
                <input class="btn-catalog" type="button" value="">
            </div>
            <div class="search-input-container">
                <input class="search-input" type="text" value="" placeholder="Хочу найти">
                <button class="btn-input">Найти</button>
            </div>
            <nav class='header__nav'>
                <ul class="header__ul">
                    <li><button class='svg-btn'><img src="./img/svg/bonuses.svg" alt="Бонусы">Бонусы</button></li>
                    <li><button class='svg-btn'><img src="./img/svg/orders.svg" alt="Заказы">Заказы</button></li>
                    <li><button class='svg-btn'><img src="./img/svg/sales.svg" alt="Акции">Акции</button></li>
                    <li><button class='svg-btn'><img src="./img/svg/cartWithDogs.svg" alt="Корзина">Корзина (5)</button>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="order">
            <div class="breadcrumbs">Корзина / Оформление заказа</div>
            <h1 class="order__h1">
                Оформление заказа
            </h1>
            <form action="" class="order__form ">
                <span class="order__info">Получатель</span>
                <div class="order__in">
                    <label for="order__input1" class="order__label">Имя</label>
                    <input type="text" class="order__input" id="order__input1" placeholder="Владимир">
                </div>
                <div class="order__in">
                    <label for="order__input2" class="order__label">Телефон</label>
                    <input type="tel" class="order__input" id="order__input2" placeholder="+0 000-000-00-00">
                </div>
                <span class="order__info">Способ доставки</span>
                <div class="order__radio-cont1">
                    <input type="radio" class="radio" id="radio1" name="delivery" value="myself" checked />
                    <label for="radio1">Самовывоз</label>
                </div>
                <div class="order__radio-cont2">
                    <input type="radio" class="radio" id="radio2" name="delivery" value="delivery" />
                    <label for="radio2">Курьер</label>
                </div>
            </form>
            <article class="cart__orders">
                <span class="cart__sinfo">2 товара на сумму 27 000₽</span>
                <div class="cart__order">
                    <div class="cart__img-cont"><img src="./img/dogs/dog-1.png" alt="dogge" class="cart__img">
                    </div>
                    <span class="cart__name">Айну</span>
                    <div class="cart__count">1 шт.</div>
                    <div class="cart__cost">12 000₽</div>

                </div>
                <div class="cart__order">
                    <div class="cart__img-cont"><img src="./img/dogs/dog-1.png" alt="dogge" class="cart__img">
                    </div>
                    <span class="cart__name">Афганская борзая</span>
                    <div class="cart__count"> 1 шт.</div>
                    <div class="cart__cost">15 000₽</div>
                </div>
            </article>
            <div class="order__all-totals">
                <div class="order__sum">
                    <div class="order__option">Сумма заказа</div>
                    <div class="order__value">27 000₽</div>
                </div>
                <div class="order__sum">
                    <div class="order__option">Самовывоз</div>
                    <div class="order__value">0₽</div>
                </div>
                <div class="order__sum order__sum_bold">
                    <div class="order__option">Итого с доставкой</div>
                    <div class="order__value">27 000₽</div>
                </div>
            </div>
            <button class="btn">Создать заказ</button>
        </main>
    </div>
</body>

</html>